@use 'components' as *;  /* index.scss by forwards all files from components folder. index.scss is by default and no need to specify during @use */
@use 'variables' as *;
@use 'home' as *;
@use 'searchPage' as *;
@use 'petDetails' as *;
@use 'petList' as *;

*,*::before,*::after{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: $fontfamily;
}
.hidden{
    display:none;
}


//all img tags are set to fixed height,width in petDetails.weird bug with images in petSearchPage.
