<% layout('./layouts/boilerplate') %> 

<div class="container ">
    <div class="row d-flex justify-content-center">
        <div class="card  mt-5 col-sm-9 col-md-6">
            <div class="card-header">
                <h1 class="text-center">Create New Pet</h1>
            </div>
            
            <form action="/pet/new" method="POST" class=" validated-form  mt-3" novalidate >
                
                <div class="row d-flex flex-column ">
                    <div class="row mb-3 ml-3 col-xs-10 col-sm-9 col-md-6">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name" required>
                    </div>
                    <div class="row mb-3 ml-3 col-xs-10 col-sm-9 col-md-6">
                        <label class="form-label" for="age">Age (years)</label>
                        <input class="form-control" type="number" min="1" max="100" id="age" name="age" required>
                    </div>
                    <div class="row ml-3 ">
                        <div class="mb-3 ml-0 pl-0 col-xs-10 col-sm-9 col-md-5">
                            <!-- <label class="form-label" for="age">Weight</label> -->
                            <input class="form-control col-4" type="number" min="0" max="100" id="weight" name="weight" placeholder="weight" required>
                        </div>
                        <div class="mb-3 ml-5  col-xs-10 col-sm-9 col-md-5">
                            <select class="form-select" >
                                <option selected>Select Gender</option>
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                              </select>
                        </div>
                    </div>
                    <div class="row ml-3 ">
                        <div class="mb-3 ml-0 pl-0 col-xs-10 col-sm-9 col-md-5">
                            <select class="form-select">
                                <option selected>Primary Breed</option>
                              
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                              </select>
                        </div>
                        <div class="mb-3 ml-5  col-xs-10 col-sm-9 col-md-5">
                            <select class="form-select" >
                                <option selected>Secondary Breed</option>
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                              </select>
                        </div>
                    </div>
                    
                   
                </div>
                
                <div class="row d-flex justify-content-center">      
                    <button type="submit" class="btn btn-success m-3 col-lg-2 col-3" >Login</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

