<% layout('/layouts/boilerplate') %> 

<form action="/pet/search" class="hidden" method="GET">    
    <select class="form-select" id="petSelect" name="species" id="selectedSpecies"required>
        <% species.forEach((petSpecies,index) =>{ %> 
            <option value="<%= petSpecies %>" <%= index===0? 'selected':''  %>><%= petSpecies %></option>
        <% }) %>
    </select>
    <input type="hidden" name="location[latitude]" class="latitude" value="">
    <input type="hidden" name="location[longitude]" class="longitude" value="">
    <input type="hidden" name="paginationOffset" id="paginationOffset" value="0">
    <button type="submit" id="searchButton">Search</button> 
</form>  

<section id="introsection">
    <article id="introcontent">
        <div id="introtitle">Find your forever friend</div>
        <div id="introtext">Add a new member to your family from hundreds of pets all over India</div>
        <div id="introtext2">From hundreds of pets in India</div>
    </article>
</section>

<section id="about">
    <h2 id="aboutsectiontitle">Your Pet Adoption Journey</h2>
    <article id="steps">
        <div class="aboutsectionelement">
            <img src="./svg/browse.svg" alt="browse pets">
            <div>
                <h3>Search</h3>
                <p>Choose between a dog or cat below and give location permission to search nearby</p>
            </div>   
        </div>
        <div class="aboutsectionelement">
            <img src="./svg/communicate.svg" alt="communicate">
            <div>
                <h3>Contact</h3>
                <p>Once you find a pet, click on it to get contact info for their pet parent and contact them</p>
            </div>
        </div>
        <div class="aboutsectionelement">
            <img src="./svg/adopt.svg" alt="adop pet">
            <div>
                <h3>Adopt</h3>
                <p>The pet parent will walk you through their adoption process</p>
            </div>            
        </div>  
    </article>
</section>

<section id="catdogselect">
    <div class="searchpaneelement searchElements">
        <h2 class="searchpanetitle">Dogs</h2>
    </div>
    <div class="searchpaneelement searchElements">
        <h2 class="searchpanetitle">Cats</h2>
    </div>
</section>

<script src="/scripts/homePage/homeScript.js"></script>