<% layout('./layouts/boilerplate') %> 

<div class="container ">
    <div class="row d-flex justify-content-center">
        <div class="card  mt-5 col-sm-9 col-md-6">
            <div class="card-header">
                <h1 class="text-center">Login</h1>
            </div>
            
            <form action="/user/login" method="POST" class=" validated-form  mt-3" novalidate >
                
                <div class="row d-flex flex-column align-items-center">
                    <div class="row mb-3 col-xs-10 col-sm-9 col-md-6">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                    <div class="row mb-3 col-xs-10 col-sm-9 col-md-6">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center mb-3 mt-2">
                    <button type="submit" class="btn btn-success col-3" >Login</button>
                </div>
                <div class="row d-flex justify-content-center mb-5"> 
                    <button type="button" class="btn btn-secondary col-3" id="return">Return</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<script src="/scripts/login.js"></script>
