#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7.5vh;
  background-color: #4361EE;
  font-size: 1.3rem;
  z-index: 100;
}
#navbar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  width: 70%;
  height: 3.2rem;
}
#navbar .nav-links li {
  list-style: none;
}
#navbar .nav-links li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}
#navbar .burger {
  display: none;
  cursor: pointer;
  height: 23px;
  width: 34px;
}
#navbar .burger div {
  flex-grow: 1;
  background-color: #4361EE;
}

@media screen and (max-width: 992px) {
  #navbar .nav-links {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #navbar {
    justify-content: flex-end;
    background-color: white;
  }
  #navbar .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 4rem;
    background-color: #4361EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%); /* push menu to left of screen. overflow x to cut from view */
  }
  #navbar .nav-links li {
    opacity: 0%;
  }
  #navbar .burger {
    transform: translateX(-80%);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  #navbar .burger div {
    transition: all 0.3s ease;
  }
  #navbar .nav-active {
    transform: translateX(0%); /* When burger button is clicked */
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6.35px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6.35px);
}

.navTransition {
  transition: transform 0.3s ease-in;
}

.hideNavElement {
  display: none;
}

@media screen and (max-width: 600px) {
  #navbar .nav-links {
    width: 70%;
  }
}
@media screen and (max-width: 350px) {
  #navbar .nav-links {
    width: 85%;
  }
}
.footer {
  width: 100%;
  height: 7vh;
  background-color: #364ebe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.footer span {
  color: white;
}
.footer img {
  margin-right: 1em;
  margin-left: 1em;
  z-index: 2;
  height: 80%;
  cursor: pointer;
}

.alert {
  margin-bottom: 0em;
}

.home-button {
  background-color: white;
  color: #4d4751;
  border: none;
  border-left: 1px solid #D3D3D3;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.65rem 1rem;
  margin: 0px;
  height: 100%;
  cursor: pointer;
}
.home-button:hover, .home-button:active {
  background-color: white;
  color: #4361EE;
}
.home-button ~ .home-button {
  border: none;
}
@media only screen and (min-width: 820px) {
  .home-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#introsection {
  position: relative;
  background-color: black;
  background-image: url("../images/introsectionimage.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
#introsection:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
#introsection #introcontent {
  position: absolute;
  top: 14%;
  left: 55%;
  color: white;
  margin-right: 5%;
  text-shadow: 2px 2px 5px #000;
}
#introsection #introcontent #introtitle {
  font-size: 3rem;
  font-weight: 600;
}
#introsection #introcontent #introtext {
  font-size: 1.5rem;
  margin-right: 7%;
}
#introsection #introcontent #introtext2 {
  display: none;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2.5px #000;
}

#about {
  width: 100%;
  margin-top: 4em;
}
#about h2 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #4361EE;
  font-size: 2.5rem;
  font-weight: 700;
}
#about #steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#about #steps .aboutsectionelement {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about #steps .aboutsectionelement img {
  width: 100px;
  height: 100px;
  margin-bottom: 1em;
}
#about #steps .aboutsectionelement:nth-child(2) img {
  width: 124px;
}
#about #steps .aboutsectionelement div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about #steps .aboutsectionelement div h3 {
  font-weight: 500;
  color: #4d4751;
}
#about #steps .aboutsectionelement div p {
  color: #4d4751;
}

#catdogselect {
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
}
#catdogselect div {
  width: 50%;
  position: relative;
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 350px;
  color: grey;
}
#catdogselect div h2 {
  position: absolute;
  top: 50%;
  right: 5%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5rem;
}
#catdogselect div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
#catdogselect div.removebeforeelement::before {
  display: none;
}
#catdogselect div:hover {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 5px #000;
}
#catdogselect div .searchpanetitle.makesearchtextwhite {
  color: white;
  text-shadow: 2px 2px 5px #000;
}
#catdogselect div:hover::before {
  display: none;
}
#catdogselect div:nth-child(1) {
  background-image: url("../images/dogselect.jpg");
  background-position: left center;
}
#catdogselect div + div {
  background-image: url("../images/catselect.jpg");
  background-position: right center;
}
#catdogselect div + div h2 {
  right: 0%;
  left: 5%;
}

.logobar {
  cursor: pointer;
}

.topbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .topbar {
    flex-direction: column;
  }
}

.homebar {
  display: flex;
  /*     width:100vw; */
  margin-right: 0px;
  justify-content: space-between;
  align-items: center;
  min-height: 7.5vh;
  flex-grow: 1;
}
.homebar .logobar img {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
}
.homebar .logobar span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #4361EE;
}
.homebar .buttonbar {
  height: 4rem;
  display: none;
}
@media only screen and (min-width: 769px) {
  .homebar .buttonbar {
    display: inline-block;
  }
}

@media screen and (max-width: 1275px) {
  #introsection {
    height: 400px;
  }
  #catdogselect div {
    height: 250px;
  }
}
@media screen and (max-width: 920px) {
  #introsection {
    height: 325px;
  }
  #introsection #introcontent {
    top: 8%;
    left: 52%;
  }
  #introsection #introcontent #introtitle {
    font-size: 2.85rem;
  }
  #introsection #introcontent #introtext {
    font-size: 1.4rem;
  }
  #about h2 {
    font-size: 1.75rem;
  }
  #catdogselect div {
    height: 200px;
  }
}
@media screen and (max-width: 736px) {
  #introsection #introcontent {
    top: 10%;
    left: 50%;
  }
  #introsection #introcontent #introtext {
    display: none;
  }
  #introsection #introcontent #introtext2 {
    display: block;
  }
  #catdogselect {
    flex-direction: column;
  }
  #catdogselect div {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  #introsection #introcontent {
    top: 67%;
    left: 10%;
    margin: 0;
  }
  #introsection #introcontent #introtitle {
    font-size: 2.3rem;
  }
  #about #steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about #steps .aboutsectionelement {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
  }
  #about #steps .aboutsectionelement img {
    margin-right: 1.3em;
  }
  #about #steps .aboutsectionelement:nth-child(2) img {
    height: 81px;
    width: 100px;
  }
}
@media screen and (max-width: 490px) {
  #introsection #introcontent {
    left: 3%;
    top: 55%;
  }
}
@media screen and (max-width: 370px) {
  #introsection #introcontent #introtext2 {
    font-size: 1.1rem;
  }
  #catdogselect div {
    height: 150px;
  }
  #catdogselect div h2 {
    font-size: 1.5rem;
  }
}
.profile-card {
  margin-bottom: 2em;
}

body {
  overflow-x: hidden;
}

#offCanvasButton {
  background-color: white;
  color: #0d6efd;
}

#searchPageMain {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(211, 211, 211);
}
#searchPageMain #offcanvasform {
  width: 20%;
  border-right: solid #D3D3D3 1px;
}
#searchPageMain #offcanvasform h5 {
  font-size: 1.8rem;
}
#searchPageMain #offcanvasform #pureBredTrue {
  margin-right: 1em;
}
#searchPageMain #offcanvasform #pureBredFalse {
  margin-right: 1em;
}
#searchPageMain #cards-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
#searchPageMain #cards-pagination .pet-cards {
  width: 100%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 1em;
  grid-auto-flow: row;
  place-items: center;
  place-content: space-evenly;
}
#searchPageMain #cards-pagination .pet-cards .pet-card {
  border-radius: 5%;
  width: 240px;
  cursor: pointer;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-image-container {
  width: 100%;
  height: 175px;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-image-container img {
  width: 240px;
  height: 175px;
  object-fit: cover;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-body {
  padding: 0.2em;
  font-size: 0.9rem;
  font-weight: 500;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-body .card-title {
  margin-top: 0.2em;
  margin-bottom: 0em;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-body .card-text {
  margin-top: 0.1em;
  margin-bottom: 0em;
}
#searchPageMain #cards-pagination .pet-cards .pet-card .card-body .card-distance {
  margin-top: 0.1em;
  margin-bottom: 0em;
}
#searchPageMain #cards-pagination .pagination-navigation {
  margin-top: 1em;
}

@media screen and (max-width: 1250px) {
  #searchPageMain #offcanvasform {
    width: 25%;
  }
}
@media screen and (max-width: 1000px) {
  #searchPageMain #offcanvasform {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #searchPageMain #offcanvasform {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #searchPageMain #offcanvasform {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  #searchPageMain #offcanvasform {
    width: 90%;
  }
}
.expand-image {
  width: 100%;
  height: auto;
}

#individual-pet-card .card-title {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0em;
}
#individual-pet-card .card-body ~ .card-body {
  padding-top: 0.4em;
  padding-bottom: 0.5em;
}
#individual-pet-card .card-body ~ .card-body h5 {
  margin-bottom: 0.1em;
}

#petcards {
  width: 100%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 1em;
  grid-auto-flow: row;
  place-items: start center;
  place-content: space-evenly;
  font-size: 0.95rem;
}
#petcards .card {
  border-radius: 5%;
  width: 320px;
}
#petcards .card .card-image-container {
  width: 100%;
  height: 233px;
}
#petcards .card .card-image-container img {
  width: 320px;
  height: 233px;
  object-fit: cover;
}
#petcards .card .card-body {
  padding-top: 0.4em;
  padding-bottom: 0em;
}
#petcards .card .card-body .card-title {
  font-size: 1.5rem;
}
#petcards .card .card-body h5 {
  margin-bottom: 0em;
}
#petcards .card ul li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

@media screen and (max-width: 330px) {
  #petcards .card {
    width: 270px;
  }
  #petcards .card .card-image-container {
    height: 196px;
  }
  #petcards .card .card-image-container img {
    width: 270px;
    height: 196px;
  }
}
/* index.scss by forwards all files from components folder. index.scss is by default and no need to specify during @use */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}