@use '../variables' as *;

#about{
    width:100%;
    margin-top: 4em;
    h2{
        text-align: center;
        margin-bottom: 1.5em;
        color:$primarycolor;
        font-weight:700;
    }
    #steps{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        div{
            width:22%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 100px;
                height:100px;
                margin-bottom: 1em;
            }
            &:nth-child(2) img{
                width:124px;
            }
            h3{
                font-weight: 500;
                color:$darkgrey;
            }
            p{
                color:$darkgrey;
            }
        }      
    }
}