@use '../variables' as *;

.home-button{
    background-color: white;
    color: $darkgrey;
    border:none;
    border-left:1px solid $lightgrey;
    font-family: $fontfamily;
    font-weight:700;
    font-size: 1rem;
    padding: 0.65rem 1rem;
    margin:0px;
    height:100%;
    cursor: pointer;

    &:hover,&:active{
        background-color: white;
        color: $primarycolor;
    }
    & ~ .home-button{
       border:none;
    }

    @media only screen and (min-width:820px){
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
