@forward 'buttons';
@forward 'introsection';
@forward 'aboutsection';
@forward 'catdogselectsection';
@use '../variables' as *;

.logobar{
    cursor:pointer;
}

.topbar{
    display: flex;
    flex-direction: row;
    width:100%;
    @media screen and (min-width:#{$homemobile+1}){
        flex-direction:column;
    }
}

.homebar{
    display: flex;
/*     width:100vw; */
    margin-right: 0px;
    justify-content: space-between;
    align-items: center;
    min-height: 7.5vh;
    flex-grow: 1;
    .logobar{
        img{
            margin-left: 1rem;
            width:4rem;
            height:4rem;
        }

        span{
            font-family: $fontfamily;
            font-weight:700;
            font-size: 1.1rem;
            color: $primarycolor;
        }
    }

    .buttonbar{
        height:4rem;
        display:none;

        @media only screen and (min-width: #{$homemobile+1}){
            display:inline-block;
        }
    }

}

@media screen and (max-width:1275px){
    #introsection{
        height:400px;
    }
    #catdogselect div{
        height:250px
    }
}

@media screen and (max-width:920px){
    #introsection{
        height:325px;
        #introcontent{
            top:8%;
            left:52%;
            #introtitle{
                font-size: 2.85rem;
            }
            #introtext{
                font-size: 1.4rem;
            }
        }
    }
    #about{
        h2{
            font-size:1.75rem;
        }
    }
    #catdogselect div{
        height:200px
    }
}

@media screen and (max-width:736px){
    #introsection{
        #introcontent{
            top:10%;
            left:50%;
            #introtext{
                display:none;
            }
            #introtext2{
                display:block;
            }
        }
    }
    #catdogselect{
        flex-direction: column;
        div{
            width:100%;
        }
    }
}

@media screen and (max-width:620px){
    #introsection{
        #introcontent{
            top:67%;
            left:10%;
            margin:0;
            #introtitle{
                font-size:2.3rem;
            }
        }
    }
    #about{
        #steps{
            display:flex;
            flex-direction: column;
            align-items: center;
            .aboutsectionelement{
                width:90%;
                flex-direction: row;
                align-items: flex-start;
                img{
                    margin-right: 1.3em;
                }
                &:nth-child(2) img{
                    height:81px;
                    width:100px;
                }
            }
        }
    }
}

@media screen and (max-width:490px){
    #introsection{
        #introcontent{
            left:3%;
            top:55%;
        }
    }
}

@media screen and (max-width:370px){

    #introsection{ 
        #introcontent{
            #introtext2{
                font-size:1.1rem;
            }
        }
    }
    #catdogselect div{
        height:150px;
        h2{
            font-size:1.5rem;
        }
    }
}